<div class="space-rectangle"></div>
<div class="container-space">
    <h1>Registro de Facturas</h1>
    <div class="form-container">
      <h2>Agregar Nueva Factura</h2>
      <form (ngSubmit)="submitFactura()" #facturaForm="ngForm">
        <div class="form-group">
          <label for="id">Factura ID</label>
          <input type="text" id="id" [(ngModel)]="factura.id" name="id" required>
        </div>
        <div class="form-group">
          <label for="fecha">Fecha</label>
          <input type="date" id="fecha" [(ngModel)]="factura.fecha" name="fecha" required>
        </div>
        <div class="form-group">
          <label for="cliente">Cliente</label>
          <input type="text" id="cliente" [(ngModel)]="factura.cliente" name="cliente" required>
        </div>
        <div class="form-group">
          <label for="montoTotal">Monto Total</label>
          <input type="number" id="montoTotal" [(ngModel)]="factura.montoTotal" name="montoTotal" required>
        </div>
        <div class="form-group">
          <label for="estado">Estado</label>
          <select id="estado" [(ngModel)]="factura.estado" name="estado" required>
            <option value="">Seleccione un estado</option>
            <option value="Pendiente">Pendiente</option>
            <option value="Pagado">Pagado</option>
            <option value="Cancelado">Cancelado</option>
          </select>
        </div>
        <button type="submit">Enviar Factura</button>
      </form>
    </div>
  </div>

  <div class="table-factura">
    <h2>Lista de Facturas</h2>
    <table>
      <thead>
        <tr>
          <th>Factura ID</th>
          <th>Fecha</th>
          <th>Cliente</th>
          <th>Monto Total</th>
          <th>Estado</th>
        </tr>
      </thead>
      <tbody>
        <tr 
          *ngFor="let factura of facturas" 
          (click)="selectFactura(factura.id)" 
          [class.selected]="factura.id === selectedFacturaId">
          <td>{{ factura.id }}</td>
          <td>{{ factura.fecha }}</td>
          <td>{{ factura.cliente }}</td>
          <td>{{ factura.montoTotal }}</td>
          <td>{{ factura.estado }}</td>
        </tr>
      </tbody>
    </table>
    <button *ngIf="selectedFacturaId" (click)="deleteFactura()">Eliminar Factura</button>
  </div>