.container-space {
    width: 80%; /* Ajusta el ancho según el diseño deseado */
    max-width: 500px; /* Establece un ancho máximo para mantener el contenedor a un tamaño adecuado */
    display: grid;
    place-items: center; /* Centra el contenido tanto horizontal como verticalmente */
    padding: 20px;
    border: 1px solid #333; /* Color y grosor del borde */
    border-radius: 15px; /* Radio del borde para hacer los bordes redondeados */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Sombra del contenedor */
    background-color: #fff; /* Color de fondo blanco para el contenedor */
    height: max-content; /* Ajusta la altura automáticamente según el contenido */
    margin: 0 auto; /* Centra el contenedor horizontalmente en su contenedor padre */
  }
  
  .form-container {
    width: 100%;
  }
  
  .form-group {
    margin-bottom: 15px;
    margin-right: 30px;
  }
  .space-rectangle{
    width:100%;
    height: 40px;
  }
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: white;
    font-size: 1em;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #218838;
  }
  
.table-factura {
    margin-top: 20px;
    width: 100%;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  th, td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
  }
  
  th {
    background-color: #f4f4f4;
  }
  
  tr {
    cursor: pointer;
  }
  
  tr:hover {
    background-color: #f1f1f1;
  }
  
  tr.selected {
    background-color: #d1d1d1;
  }
  
  button {
    margin: 5px 0;
  }