<div class="sidebar-container">
  <h1>
    Farmacia "Cristo del Consuelo"
    <img src="assets/img/farmacia_logo.jpeg" alt="Farmacia Logo" class="header-image">
  </h1>
  <div class="sidebar-sidenav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink="/home" class="nav-link">
          <mat-icon>home</mat-icon>
          <span class="link-text">Home</span>
        </a>
        <div class="dropdown-content">
          <a routerLink="/home/cliente">Clientes</a>
          <a routerLink="/home/proveedor">Proveedores</a>
          <a routerLink="/home/inventario">Inventario</a>
          <a routerLink="/home/medicamento">Medicamentos</a>
          <a routerLink="/home/informe">Informes</a>
          <a routerLink="/home/mensajeria">Mensajería</a>
        </div>
      </li>
      <li class="nav-item">
        <a routerLink="/informacion" class="nav-link">
          <mat-icon>credit_card</mat-icon>
          <span class="link-text">Informacion</span>
        </a>
      </li>
    </ul>
  </div>
</div>
