<div class="info-container">
    <img src="assets/img/farmacia_add.jpeg" alt="Farmacia" class="banner">

    <div class="integrantes-space">
        <h2 class="integrantes-text">Nombres</h2>
        <ul>
            <li>Jorge Lituma</li>
            <li>Diego Loja</li>
            <li>Ismael Verdugo</li>
            <li>Daniel Yanza</li>
        </ul>
    </div>
    <div class="information-space">
        <div class="mision-space">
            <h2>Misión</h2>
            <p>Nuestra misión es proporcionar productos farmacéuticos de alta calidad y servicios excepcionales para mejorar la salud y el bienestar de nuestra comunidad.</p>
        </div>
        <div class="vision-space">
            <h2>Visión</h2>
            <p>Nuestra visión es ser la farmacia líder en la región, reconocida por nuestro compromiso con la excelencia y la atención personalizada al cliente.</p>
        </div>
    </div>
    
</div>