<!-- src/app/home/home.component.html -->
<div class="flex-container">
    <a routerLink="/home/cliente" class="flex-item">
      <img src="assets/img/cliente.png" alt="Clientes" class="item-image">
      <span class="item-text">Clientes</span>
    </a>
    <a routerLink="/home/proveedor" class="flex-item">
      <img src="assets/img/proveedor.png" alt="Proveedores" class="item-image">
      <span class="item-text">Proveedores</span>
    </a>
    <a routerLink="/home/inventario" class="flex-item">
      <img src="assets/img/inventario.png" alt="Inventario" class="item-image">
      <span class="item-text">Inventario</span>
    </a>
    <a routerLink="/home/medicamento" class="flex-item">
      <img src="assets/img/medicamento.png" alt="Medicamentos" class="item-image">
      <span class="item-text">Medicamentos</span>
    </a>
    
    <a routerLink="/home/informe" class="flex-item">
      <img src="assets/img/informe.png" alt="Informes" class="item-image">
      <span class="item-text">Informes</span>
    </a>
    <a routerLink="/home/mensajeria" class="flex-item">
      <img src="assets/img/mensajeria.png" alt="Mensajería" class="item-image">
      <span class="item-text">Mensajería</span>
    </a>
  </div>
  